#section{
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

#banner-section{
    width: 100%;
    height: 607px;
    left: 0px;
    top: 0px;

    background-color: #2F2E41;
}

.banner-top {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 607px;
    font-family: 'Nunito Sans';
    font-size: 60px;
    color: white;
    margin: 0px 10px;
}

.banner-top img{
    height: 95%;
    width:95%;
}




.banner-top div {
    justify-self: start;
    align-self: center;
}
