
.accountButton {
    border: none;
    background-color: white;
  }
  .displayCard {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
  }
  
  .cardArrangment {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 40px;
  }
  .accountImage{
    width: 60%;
    height: 60%;
    flex: 0 0 0;
    
  }
 
  .cardName{
    color: #9F8E63;
    flex: 1 0 0;

  }